/* css file to cnotact.html*/
.contact{
    display: grid;
    width: 100%;
    height: 100vh;
    min-height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 70px 1fr 70px;
    box-sizing: border-box;
}
.cards{
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background-color: white;
    box-shadow: 5px 0 20px rgba(69, 69, 128, 25%);
    padding: 10px 20px;
    width: 600px;
    height: auto;
    text-align: center;
    transition: 0.7s ease;
}
.card:hover{
    transform: scale(1.1);
}
.card-icon{
    color: rgb(3, 3, 250);
    font-size: 3.8em;
}

