/*here we can see All home page css desinge */
 .container{
    width: 100%;
    height: 100vh;
    min-height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 70px 1fr 1fr 70px;
    box-sizing: border-box;
 }
 /* div content with all divs inside contert*/
 .content{
    justify-content: center;
    margin: 10px;
    background-color: white;
    box-shadow: 5px 0 20px rgba(69, 69, 128, 25%);
    padding: 10px 20px;
}
.content h1{
    margin-top: 5px;
}
img {
    display: block;
    margin: 0 auto;
    width: 250px;
    height: 250px;
}
#header{
    grid-column: 1 / 4;
    line-height: 70px;
    padding: 2px;
    justify-content:space-between;
    align-items: center;
    z-index: 999;
    padding: 20px 200px;
    margin: 0;
    border-bottom: 2px solid #cdd1dc;
    display: flex;
    flex-direction: row;
    background-color: white;
    color: #000;
}
#box1{
   grid-row: 2 / 4; 
   background-color: rgb(39, 141, 44);
   color: white;
}
#box2{
    grid-column: 2 /3;
}
#box3{
    grid-column: 3 / 4;
}
#box4{
    grid-column: 2/ 3;
}
#box5{
    grid-column: 3 / 4;
}
#footer{
    grid-column: 1 / 4;
    border-top: 2px solid #cdd1dc;
    justify-content: left;
    margin: 0;
    z-index: 999;
    font-size: 0.8em;
    font-weight: 500;
    background-color: white;
    color: #000;
}
.name{
        font-size: 1.8em;
        font-weight: 500;
}
.nav-content a{
    color: #000;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 300;
    padding-left: 20px;
}
.nav-content a:hover{
    color: rgb(53, 53, 134);
}
#list{
    font-size: 0.8em;
    padding: 20px 20px;
    margin: 5px;
}
#box2,#box5{
    background-color: rgb(48, 155, 255);
    color: white;
}
#box3,#box4{
    background-color: rgb(9, 70, 128);
    color: white;
}
.card-btn{
    color: white;
    background-color: rgb(14, 170, 48);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: block;
    text-align: center;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-top:50px;
    margin: 20px 10px;
    transition: 0.7s ease;     
}
.card-btn a{
    color: white;
    text-decoration: none;
}
.card-btn:hover{
    background-color: #0a49f6;
    transform: scale(1.1);
}
